<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginAccount</servlet-name>
        <servlet-class>ManageAccountSeverlet.LoginAccount</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagServlet</servlet-name>
        <servlet-class>ManageTagSeverlet.TagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTagSeverlet</servlet-name>
        <servlet-class>ManageTagSeverlet.AddTagSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTagSeverlet</servlet-name>
        <servlet-class>ManageTagSeverlet.EditTagSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTagSeverlet</servlet-name>
        <servlet-class>ManageTagSeverlet.DeleteTagSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TimeRecordSeverlet</servlet-name>
        <servlet-class>ManageTimeSeverlet.TimeRecordSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StatisticsTimeRecordServlet</servlet-name>
        <servlet-class>ManageTimeSeverlet.StatisticsTimeRecordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTimeRecordSeverlet</servlet-name>
        <servlet-class>ManageTimeSeverlet.EditTimeRecordSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTimeRecordSeverlet</servlet-name>
        <servlet-class>ManageTimeSeverlet.AddTimeRecordSeverlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTimeRecordSeverlet</servlet-name>
        <servlet-class>ManageTimeSeverlet.DeleteTimeRecordSeverlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginAccount</servlet-name>
        <url-pattern>/LoginAccount</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagServlet</servlet-name>
        <url-pattern>/TagServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTagSeverlet</servlet-name>
        <url-pattern>/AddTagSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTagSeverlet</servlet-name>
        <url-pattern>/EditTagSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTagSeverlet</servlet-name>
        <url-pattern>/DeleteTagSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TimeRecordSeverlet</servlet-name>
        <url-pattern>/TimeRecordSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StatisticsTimeRecordServlet</servlet-name>
        <url-pattern>/StatisticsTimeRecordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTimeRecordSeverlet</servlet-name>
        <url-pattern>/EditTimeRecordSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTimeRecordSeverlet</servlet-name>
        <url-pattern>/AddTimeRecordSeverlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTimeRecordSeverlet</servlet-name>
        <url-pattern>/DeleteTimeRecordSeverlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
